@font-face { font-family: 'MeteoconsRegular'; src: url('/font/meteocons-webfont.eot'); src: url('/font/meteocons-webfont.eot?#iefix') format('embedded-opentype'), url('/font/meteocons-webfont.woff') format('woff'), url('/font/meteocons-webfont.ttf') format('truetype'), url('/font/meteocons-webfont.svg#MeteoconsRegular') format('svg'); font-weight: normal; font-style: normal; }

html, body { 
	height: 100%;
	padding: 0;
	margin: 0;
}
body {
	min-height: 100%; 
	overflow: hidden; 
	background: #232323; 
	color: #fff;
    /*font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, sans-serif; */
    font-family: 'Megrim', cursive;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#clock {
	position: absolute;
	top: 30%;
	text-align: center;
	width: 100%;
	font-size: 200pt;
	margin-top: 0;
	margin-bottom: 0;
	/*-webkit-text-stroke: 3px black;*/
	
}
#greeting {
	position: absolute;
	top: 30%;
	text-align: center;
	width: 100%;
	margin-top: 280px;
	margin-bottom: 0;
	font-size: 30pt;
	/*-webkit-text-stroke: 3px black;*/
	
}

#greeting.prompt {
	margin-top: 0;
	font-size: 60pt;
}

#greeting.prompt input {
	margin-top: 0;
	font-size: 60pt;
	background: none;
	border: 0;
	border-bottom: 2px solid white;
	width: 400px;
	font-family: 'Megrim', cursive;
	color: white;
}

#bar {
	height: 4px;
	width: 100%;
	position: absolute;
	background-color: white;
	border-bottom: 3px solid black;
}


#credit {
	position: absolute;
	top: 100%;
	margin-top: -60px;
	height: 40px;
	/*outline: 1px solid white;*/
	padding-left: 30px;
	width: 500px;
}

#phab {
	position: absolute;
	bottom: 0;
	right: 0;

	/*outline: 1px solid white;*/
	padding-right: 30px;
	padding-bottom: 30px;
	text-align: right;
	width: 500px;
	list-style: none;
	line-height: 1.5;

}
#phab a {
	color: white;
}

/* Weather */
#weather { 
	position: absolute; 
	left: 100%;
	margin-left: -330px;
	top: 10px;
	font-size: 30pt;
	width: 300px;
	text-align: right;
	padding-right: 30px;
	/*font-family: 'MeteoconsRegular';*/
}
#weather-desc { 
	position: absolute; 
	left: 100%;
	margin-left: -330px;
	width: 300px;
	top: 70px;
	padding-right: 30px;
	text-align: right;
}
#weather .icon {
	font-family: 'MeteoconsRegular';
	font-size: 40pt;
	position: relative;
	top: 9px;
}





/* Animations */
.softpulse { -webkit-animation: updatepulse 1s ease 0.5s 1 normal; }
.pulse { -webkit-animation: pulse 1s ease 0s 1 normal; }

@-webkit-keyframes updatepulse {
	0% { background: rgba(255,255,255,0); }
	5% { background: rgba(255,255,255,0.6); }
	100% { background: rgba(0,0,0,0.3); }
}

@-webkit-keyframes pulse {
	0% { background: rgba(255,255,255,0.5); }
	100% { background: rgba(255,255,255,0); }
}
@-webkit-keyframes fadein { from { opacity: 0 } to { opacity: 1 } }
@-webkit-keyframes fadeout { from { opacity: 1 } to { opacity: 0 } }


